In [16]:
pip install kafka-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kafka-python in /Users/jsk-mukund/Library/Python/3.9/lib/python/site-packages (2.2.14)
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [56]:
producer = KafkaProducer(bootstrap_servers=['51.20.118.221:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [57]:

producer.send('demo_test', value={'surnasdasdame':'parasdasdmar'})

In [58]:
df = pd.read_csv("indexProcessed.csv")

In [59]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [67]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [ ]:
producer.flush() #clear data from kafka server